body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ECF0F1;
}

.container {
    max-width: 80%;
    margin: auto;
}

.top-title {
    margin-left: 20rem;
    padding: 30px;
}

section {
    margin-top: 10px;
    margin-bottom: 50px;
}

.wireframe {
    
    text-align: center;
}

header {
    background-color: #2C3E50;
    color: white;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    font-weight: 700;
    margin: 0;
}
