* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container {
    max-width: 80%;
    margin: auto;
    margin-left: 15rem;
}

.naijaFlag {
    width: 80%;
    height: 20px;
}

header h1 {
    text-align: center;
    color: white;
    background-color: #022906;
    padding: 18px;
    width: 80%;
    font-size: 3rem;
    letter-spacing: 5px;
}

.hero {
    width: 80%;
    height: 35rem;
    display: inline-flex;
}

.data_container {
    max-width: 270px;
    height: 230px;
    background-color: white;
    position: relative;
    margin-top: -33rem;
    padding: 20px;
    margin-left: 20px;
}

.data_heading {
    background-color: #1d773b;
    color: white;
    padding: 5px;
    position: absolute;
    margin-top: -14rem;
    margin-left: 10px;
    width: 250px;
    z-index: 1;
}

.data_heading h1 {
    padding-left: 15px;
    font-size: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}

#countryInfo {
    margin-top: 40px;
}

.weather_container {
    position: absolute;
    max-width: 200px;
    height: 230px;
    background-color: white;
    position: relative;
    margin-left: 39.5rem;
    margin-top: 2rem;
    opacity: 0.8;
    padding: 20px;
}


#weatherInfo {
    margin-top: 10px;
    padding-top: 50px;
    text-align: center;
    font-size: 13px;
}

#weatherInfo p{
    padding: 5px;
}

.weather_heading {
    background-color: #1d773b;
    color: white;
    padding: 5px;
    position: absolute;
    margin-top: -14rem;
    margin-left: 39rem;
    width: 190px;
    display: flex;
    z-index: 1;
}

.weather_heading h1 {
    padding-left: 15px;
    font-size: 20px;
    text-align: center;
    padding-top: 10px;
}

.weather_image {
    max-width: 50px;
    height: auto;
    padding-left: 10px;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */

    .container {
        max-width: 80%;
        margin: auto;
        height: 100%;
        margin-left: 15rem;
    }

    .hero {
        width: 80%;
        height: 15rem;
    }
    
    .data_container {
        max-width: 270px;
        height: 230px;
        background-color: white;
        position: relative;
        margin-top: 0rem;
        padding: 20px;
        margin-left: 20px;
    }
    
    .data_heading {
        color: black;
        padding: 5px;
        width: 300px;
        z-index: 1;
        text-align: center;
    }
    
    .data_heading h1 {
        padding-left: 15px;
        display: block;
        font-size: 25px;
        padding-top: 5px;
        padding-bottom: 5px;
        background-color: white;
    }
    
    #countryInfo {
        margin-top: 40px;
        text-align: center;
        padding: 10px;
    }
    
    .weather_container {
        position: absolute;
        max-width: 250px;
        height: 230px;
        background-color: white;
        position: relative;
        margin-left: 2rem;
        margin-top: 2rem;
        opacity: 0.8;
        padding: 20px;
    }
    
    
    #weatherInfo {
        margin-top: 60px;
        padding-top: 50px;
        text-align: center;
        font-size: 18px;
    }
    
    #weatherInfo p{
        padding: 5px;
        display: block;
    }
    
    .weather_heading {
        background-color: white;
        color: black;
        display: block;
        padding: 5px;
        position: absolute;
        margin-top: -16rem;
        margin-left: 3rem;
        width: 190px;
        font-size: 30px;
    }

    .weather_image {
        display: block;
        margin-top: 10px;
        max-width: 100px;
        margin-left: 40px;
        height: auto;
        padding-left: 10px;
    }

    footer {
        text-align: center;
        color: white;
        background-color: #022906;
        padding: 18px;
        margin-top: 5rem;
        width: 80%;
    }
  }

footer {
    text-align: center;
    color: white;
    background-color: #022906;
    padding: 18px;
    margin-top: 2rem;
    width: 80%;
}