* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: Roboto, sans-serif;
}

/* Mobile View ***************/
#menu {
	display: block;
	font-size: 2rem;
	font-weight:700;
	text-decoration: none;
	padding: .5rem .75rem;
	background-color: #eee;
	color: #000;
}

#menu::before {
	content: "≡";
}

nav {
	background-color: black;
	align-items: center;
	justify-content: center;
}

.top {
    display: flex;
    align-items: center;
	justify-content: center;
    height: 150px;
}

.profile-pic {
    width: 80px;
    height: auto;
    display: flex;
}

.navigation a {
	display: block;
	padding: 0.75rem;
	text-align: center;
	text-decoration: none;
	color: white;
	font-weight: 700;
	transition: 0.5s;
	font-size: clamp(1rem, 2vmin, 1.5rem);
}

.navigation a:hover, navigation a:active {
	color: black;
	background-color: white;
}

.show li {
	display: block;
}

#menu.show::before {
	content: "X";
}

/* Media Query for wider than mobile viewports. Breakpoint should be based upon the design and content and use em units to be relative to the user's font size versus fixed with pixels.  

In most WDD courses there is a requirement to use a separate file. This part would go into a separate CSS file. 
*/
@media only screen and (min-width: 40em) {
	.navigation {
		display: flex;
	}
	.navigation li {
		display: block; /* change state in small view */
		flex: 1 1 100%;
	}
	.navigation a {
		text-align: center;
	}
	#menu {
		display: none;
	}
}


/* ===========================================================*/

body {
	font-family: "exo", sans-serif;
    max-width: 80%;
    margin: 0 auto;
}

header {
	background-color: #022c6bc7;
    color: white;
	display: block;
	align-items: center;
	justify-content: center;
	border: 1px solid rgba(0, 0, 0, 0.1);
}

header {
	margin: 0 auto;
}

.grid {
	display: flex;
    align-items: center;
}

main h1 {
	color: white;
	background-color: #022c6bc7;
	padding: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	text-align: center;
}


.card {
    width: 46rem;
	margin: 1rem;
    border: 1px solid rgba(0, 0, 0, .1);
    color: #000;
	grid-column: 1/2;
    grid-row: 1/2;
	border: 2px solid #ddd;
	border-radius: 10px;
	height: 20rem;
}

.card1 {
	max-width: 20rem;
    position: relative;
    grid-row: 1/2;
	border: 2px solid #ddd;
	border-radius: 10px;
	height: 20rem;
    justify-items: center;
}

.card2 {
    max-width: 72rem;
    margin: auto;
}

.courseList {
	padding: 1rem;
	box-shadow: 0 0 .4rem black;
	margin: 10px;
	background-color: rgba(80, 12, 12, 0.986);
}

.courseCompleted {
	padding: 1rem;
	box-shadow: 0 0 .4rem black;
	margin: 10px;
	background-color: rgba(36, 122, 19, 0.986);
}

.card2 hr {
	border: 1px solid #ddd;
}

.course-btn {
	width: 100px;
	height: 30px;
	background-color: #000;
	color: #fff;
	border: none;
	border-radius:5px;
	cursor: pointer;
} 

.wrapper {
	border: 2px solid #ddd;
}

.courses {
	padding: 1rem;
	text-align: center;
}

.creditTotal {
	padding: 1rem;
	margin: 10px;
	background-color: rgba(218, 219, 219, 0.986);
}

.cardContainer {
	display: flex;
	justify-content: flex-start;
	justify-content: center;
}

.cardbody{
	color: white;
	width: 120px;
	text-align: center;
	font-weight: bolder;
}



.card1 h1 {
    width: 285px;
    margin-bottom: 10px;
}

.card1 img {
    width: 200px;
    height: 200px;
}

.upper_text {
	max-width: 570px;
	padding: 25px;
}

.intro {
	padding: 15px;
}

.heading {
	text-align: center;
	font-size: larger;	
	font-weight: bold;
	padding: 10px;
	color: #0f0f0fd7;
	margin: auto;
	border-bottom: 2px solid #ddd;
	width: 30rem;
}

.imageDesc {
	display: flex;
	font-style: italic;
	position: absolute;
	margin-top: 8.1rem;
	margin-left: 10px;
}

.card img {
	width: 200px;
    height: auto;
    float: left;
	padding: 10px;
	margin-top: 2px;
}

.card #profile-pic {
	width: 200px;
    height: auto;
    float: right;
	padding: 20px;
	margin-top: -10rem;
}

h1 {
    text-align: center;
	font-size: 1.5rem;
    padding: 20px;
}

.active {
	color: yellow;
}

.highlight {
	color: yellow;
}

footer {
	text-align: center;
	color: white;
	background-color: #022c6bc7;
	padding: 18px;
}